fastapi
ollama
pandas
pillow
pydantic-settings
sqlmodel
uvicorn[standard]


# DB connectors
psycopg[binary,pool]    # postgres -- main
aiomysql    # mariadb -- secondary
aiosqlite   # sqlite -- test


# dev
black
httpx
invoke
isort
pdbpp
polyfactory
pytest-xdist
pytest-repeat

